name: Deploy to AKS
on: [pull_request, push]
jobs:
    AKS-deploy:
        runs-on: ubuntu-latest
        permissions:
          contents: read
          id-token: write

        steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Login to Azure
          uses: azure/login@v2
          with:
            client-id: ${{ secrets.AZURE_CLIENT_ID }}
            tenant-id: ${{ secrets.AZURE_TENANT_ID }}
            subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
            

        - name: Get AKS credentials
          uses: azure/aks-set-context@v2
          with:
            resource-group: Training-RG
            cluster-name: akscluster

        - name: Deploy to AKS
          run: |
            kubectl apply -f kubernetes/deploy.yaml